body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: whitesmoke;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 25px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 25px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(79, 177, 207);
  border-radius: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-areas:
    "first boy"
    "oorange second";
}

.grid-container-a {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(360px, 1fr));
  grid-template-areas: "third girl sixth";
}

.grid-container-b {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-areas: "forth girls fifth couple";
}

.grid-container > div,
.grid-container-a > div,
.grid-container-b > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px 0;
  font-size: 30px;
}

.btn-invitation {
  width: 213px;
  height: 55px;
  background-color: blue;
  border: none;
  color: azure;
  border-radius: 20px;
}

.first {
  height: 820px;
  margin-left: 20px;
}

.second {
  height: 820px;
  margin-left: 20px;
}

.third,
.sixth,
.forth,
.fifth {
  height: 445px;
  margin-left: 20px;
}

.special {
  font-size: 16px;
}

.main {
  font-weight: 700;
}

.boy {
  background-image: url(/images/boy.png);
  /* grid-column: span 2; */
  /* width: 100%; */
  height: 820px;
  background-size: cover;
  background-repeat: no-repeat;
}

.oorange {
  background-image: url(/images/orange.png);
  /* grid-column: span 3; */
  width: 100%;
  height: 820px;
  background-size: cover;
  background-repeat: no-repeat;
}

.girl {
  background-image: url(/images/girl.png);
  width: 360px;
  height: 445px;
  background-size: cover;
  background-repeat: no-repeat;
}

.girls {
  background-image: url(/images/girls.png);
  width: 360px;
  height: 445px;
  background-size: cover;
  background-repeat: no-repeat;
}

.couple {
  background-image: url(/images/couple.png);
  width: 360px;
  height: 445px;
  background-size: cover;
  background-repeat: no-repeat;
}
